body
{
     margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;

}

/*div droite haut*/
.nav
{
    display: flex;
    justify-content:space-between;
    width: 10%;

}
.rond
{
    width: 35px; /*faire un bouton rond*/
    height: 35px;
    background-color: red;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

header
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

 }
 header > p
 {
    padding-right: 10px;
 }

.svg
{
    width: 50px;
    height: 50px;
}

.wen
{
    width: 24px;
    height: 24px;
    padding-left: 8px;
}

.mic
{
    width: 24px;
    height: 24px;
    padding-right: 8px;
}
section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;    
}
section > img
{
    object-fit: cover; /*sert à lisser les images pas forcément propres redimenssione auto*/
    width: 250px;
    height: 150px;
}
.fakebar
{
    display: flex;
    flex-direction: row;
    height: 41px;
    width: 584px;
    border: solid 1px #ccc;
    align-items: center;
    border-radius: 20px;
    margin-top: 20px;
}
#searchbar
{
    width: 100%;

}
#searchbar > input
{
    width: 95%;
    height: 37px;
    outline: none;
    background-color: transparent;
    border: none;
}
#buttons
{
    display: flex;
    flex-direction: row;
    padding: 14px;
        
}
#buttons > button
{
    width: 138px;
    height: 36px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 10px;
    background:#ccc;
    transition-duration: 500ms;
}
#buttons > button:hover
{
    border: 1px solid #555;
    cursor: pointer;
    border-radius: 5px;
}
footer
{
    background:#f2f2f2;;
    position: absolute;
    bottom: 0;
    width: 100%;
    
    
}
#navbar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#navbar ul
{
    display: flex;
    flex-direction: row;
}
#navbar li
{
    list-style-type: none;
}

#navleft li
{
    padding-left: 7px;
    
}
#navcenter
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}
#navcenter > img
{
    width: 12px;
    height: 14px;
    padding-right: 5px;
}
#navright li
{
    padding-right: 10px;
    
}
#country
{
    padding: 1.5rem 0 20px 3.8rem;  
    position: relative;
    width: 0;
    height: 0;
}